# vim swap files
*.swp

# compiled Python files
__pycache__/

# local state backend created by misconfiguration, except in /init
.pulumi/
# initialized stack config, unique to encryption details
Pulumi.*.yaml

# virtual Python environment
.venv/
